body{
    padding: 10px 40px 0px 40px;
}
header {
    display: flex;
    padding-bottom: 20px;
}

.logo-page {
    display: flex;
}

.logo-page img {
    display: inline-block;
    width: 44px;
    height: 44px;
    border: 2px solid white;
}

.menu {
    display: flex;
    list-style-type: none;
    gap: 40px;
    padding-left: 75%;
}

a {
    color: black;
    text-decoration: none;
}

.resume {
    display: flex;
}

.image-1 img {
    width: 85%;
    height: 75%;
    padding-left: 80px;
}

.domaine{
    padding: 8px 4px 8px 4px;
    color:#00A99D ;
    background-color:#a6e5e0 ;
    border-radius: 50px;
    width: 45%;
    font-size: 20px;
}

.salutation{
    font-size: 40px;
}

.nom{
    color: #00A99D;
}

.text{
    font-size: 25px;
}

.apercu{
    font-size: 15px;
    color: silver;
}

.button-de-prouje{
    border-radius: 80px;
    color: white;
    background-color: #00a99d;
    padding: 8px 4px 8px 4px;
}

.definition{
    margin-top:50px;
    display: flex;
}

.titre_a-propos{
    display: flex;
    gap: 20px;
}

.titre_a-propos h1{
    color: #00A99D;
}

.a_propos p{
    font-size: 15px;
    padding-bottom: 15px;
    color: silver;
}

.a_propos{
    padding-left: 15%;
    padding-top:25px ;
}

.a_propos button{
    border-radius: 80px;
    color: white;
    background-color: #00a99d;
    padding: 8px 4px 8px 4px;
}



.competence{
    background-color: #dafbf8;
    padding-bottom: 5%;
    border-radius: 10px;
}

.title_competence{
    display: inline-flex;
    gap: 10px;
    padding-bottom:20px ;
}

.title_competence img{
    width: 44px;
    height: 44px;
    border-radius: 40px;
}


.qualites{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.HTML{
    background-color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 20px;
}

.CSS{
    background-color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 20px;
}

.JavaScript{
    background-color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 20px;
}

.PHP{
    background-color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 20px;
}

.MySQL{
    background-color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 20px;
}



section{
    padding-top: 20px;
}

.Projet{
    border: 1px solid;
    border-style: outset;
    border-radius: 20px;
}

.title{
    display: flex;
}

.title img{
    width: 44px;
    height: 44px;
}

.resume_projet{
    display: flex;
    gap: 30px;
}

.resume_projet img{
    width: 50%;
    height: 50%;
}

.titre{
    background-color: #a6e5e0;
    color: #00a99d;
    padding: 8px 4px 8px 4px;
    border-radius: 50px;
    width: 15%;
}

.nom-projet{
    color: #00A99D;
}

.defene{
    font-size: 14px;
}

.type_projet{
    display: flex;
    gap: 30px;
}

.type_projet p{
    background-color: #5bbab2;
    color:white ;
    padding: 4px;
    border-radius: 12px;
}

.petit_definition button{
    border-radius: 80px;
    color: white;
    background-color: #00a99d;
    padding: 8px 4px 8px 4px;
}


footer{
    padding-top: 20px;
}

.Contact{
    display: flex;
    gap: 20px;
}

.Contact img{
    width: 50px;
    height: 50px;
}

.Me_contact{
    display: flex;
    gap: 30px;
}

.resume_contact{
    display: flex;
    gap: 200px;
}

