body {
    padding: 10px 40px 0px 40px;
}

header {
    display: flex;
    padding-bottom: 20px;
}

.logo-page {
    display: flex;
}

.logo-page img {
    display: inline-block;
    width: 44px;
    height: 44px;
    border: 2px solid white;
}

.menu {
    display: flex;
    list-style-type: none;
    gap: 40px;
    padding-left: 75%;
}

a {
    color: black;
    text-decoration: none;
}

.resume_information {
    display: flex;
}

.resume span {
    color: #00A99D;
}

#defin {
    font-size: 12px;
    color: rgb(144, 139, 139);
}


.image_projet img {
    width: 60%;
    height: 70%;
    padding-left:40% ;
}

.informations {
    display: flex;
    justify-content: space-between; 
    gap: 10px; 
    flex-wrap: nowrap; 
}

.info p {
    margin-left: 5px; 
    font-size: 11px; 
    white-space: nowrap; 
}

.info img {
    width: 20px; 
    height: 20px;
}

.info {
    display: flex;
    align-items: center; 
}


.resume button {
    border-radius: 80px;
    color: white;
    background-color: #00a99d;
    padding: 8px 4px 8px 4px;
}