body {
    padding: 10px 40px 0px 40px;
}

header {
    display: flex;
    padding-bottom: 20px;
}

.logo-page {
    display: flex;
}

.logo-page img {
    display: inline-block;
    width: 44px;
    height: 44px;
    border: 2px solid white;
}

.menu {
    display: flex;
    list-style-type: none;
    gap: 40px;
    padding-left: 75%;
}

a {
    color: black;
    text-decoration: none;
}

.resume_information {
    display: flex;
}

.resume span {
    color: #00A99D;
}

#defin {
    font-size: 14px;
    color: rgb(144, 139, 139);
}

#Organisateur {
    font-size: 18px;
}


.image_projet img {
    width: 60%;
    height: 70%;
    padding-left: 40%;
}

.informations {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: nowrap;
}

.info p {
    margin-left: 5px;
    font-size: 11px;
    white-space: nowrap;
}

.info img {
    width: 20px;
    height: 20px;
}

.info {
    display: flex;
    align-items: center;
}


.resume button {
    border-radius: 80px;
    color: white;
    background-color: #00a99d;
    padding: 8px 4px 8px 4px;
}

.Presentation_proget {
    display: flex;
    gap: 20px;
}

.titre_Presentation {
    display: flex;
    gap: 5px;
    text-align: center;
}

.titre_Presentation img {
    width: 40px;
    height: 40px;
    border-radius: 20px;
}

.Presentation p {
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
}

.Presentation {
    padding-right: 15%;
}

.titre_Objectifs {
    display: flex;
    gap: 5px;
    text-align: center;
}

.titre_Objectifs img {
    width: 40px;
    height: 40px;
    border-radius: 20px;
}

.informations_Objectifs {
    display: flex;
    gap: 15px;

}

.Objectifs-define img {
    width: 30px;
    height: 30px;
    border-radius: 20px;
}

.text {
    font-size: 12px;
}

.Objectifs {
    margin-top: 15px;
    padding-bottom: 20px;
    background-color: #daf5f4;
    border-radius: 20px;

}


.Technologies {
    background-color: #dafbf8;
    padding-bottom: 20px;
    margin-top: 30px;
    border-radius: 10px;
}

.title_Technologies {
    display: inline-flex;
    gap: 10px;
    padding-bottom: 20px;
}

.title_Technologies img {
    width: 44px;
    height: 44px;
    border-radius: 40px;
}


.qualites {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.HTML {
    background-color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 20px;
}

.CSS {
    background-color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 20px;
    padding-right: 30px;
}

.fonctionnalite{
    border: 2px;
    border-style: ridge;

}

.titre_fonctionnalite {
    display: flex;
    text-align: center;
    margin-top: 40px;
}

.titre_fonctionnalite img {
    width: 40px;
    height: 40px;
    border-radius: 20px;
}

.fonct {
    display: flex;
    gap: 40px;
    max-width: 600px;
    margin-top: 10px;
}

.princip {
    display: flex;
    align-items: center;
    gap: 10px;
    flex: 1;
}

.princip img {
    width: 20px;
    height: 20px;
}

.fonctionnalite{
    border-radius: 20px;
    width: 50%;
}

.princip p {
    margin: 0;
}

.features-grid{
    padding-bottom: 20px;
}


.synthese{
    background-image: url(images/background.png);
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 70%;
}

.synthese p{
    font-style: italic;     
    color: #4b6584;        
    font-size: 18px;
    line-height: 1.6;
    margin: 0;
    text-align: left;
}


section{
    display: flex;
    gap: 5%;
    margin-top: 30px;
    padding-bottom: 5%;
}